@model IEnumerable<AddressBookWebsite.Models.ContactViewModel>

@{
    ViewBag.Title = "Details";
}

<h2 style="font-family:'Book Antiqua'">@ViewBag.Title</h2>
<head>
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/Scripts/respond.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.8.3.js" type="text/javascript"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js" type="text/javascript"></script>
    <script src="~/Scripts/respond.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.8.3.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/web/kendo.common.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/web/kendo.default.min.css" type="text/css" />
    <link href="~/Content/errorPage.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/textbox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/validator.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" type="text/css" />
</head>
<p>
    <a href="~/Contacts/Create">
        <input type="image" src="~/img/addContact.png" alt="Add New Contact" width="48" height="48">
    </a>
    <a href="~/Search/Find">
        <input type="image" src="~/img/search.png" alt="Find Contact" width="48" height="48">
    </a>
</p>
<table id="list-grid" class="table table-bordered">
    <tr style="background-color:beige">
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.ContactID)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th style="border-width:thin">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th style="border-width:thin">
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th style="border-width:thin">
            @Html.DisplayNameFor(model => model.AddressOne)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.AddressTwo)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th style="border-width:1px">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="border-width:1px">
            Options
        </th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                No rows exist in the database
            </td>
        </tr>
    }

    @foreach (var items in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => items.ContactID)
            </td>
            <td>
                @if (items.Avatar != null)
                {
                    <img src="@Url.Content(items.Avatar)" />
                }
                </td>
            <td>
                @Html.DisplayFor(modelItem => items.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.AddressOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.AddressTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = items.ContactID }) |
                @Html.ActionLink("Details", "Details", new { id = items.ContactID }) |
                @Html.ActionLink("Delete", "Delete", new { id = items.ContactID })
            </td>
        </tr>
    }
</table>

<script>
    $("#list-grid").kendoGrid(
        {
            dataSource: {
                pageSize: 5
            },

            pageable: true,
            scrollable: true,
            resizable: true,
            dataBound: onDataBound,
        });

    function onDataBound() {
        var grid = $("#list-grid").data("kendoGrid");
        for (var i = 0; i < grid.columns.length; i++) {
            grid.autoFitColumn(i);
        }
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
